In [1]:
import pandas as pd
import numpy as np
from mwmatching import maxWeightMatching
from datetime import datetime
from sprd import *
from IPython.display import display

if __name__ == '__main__':
    display('Please close TournamentSpreadsheet.xlsx')
    
    spread_sheet_name = 'TournamentSpreadsheet.xlsx'

    original_df = pd.read_excel(spread_sheet_name, sheet_name = 'Rounds')

    results, ranks, expected_margin = RunRound(original_df, True)
    
    analysis_info = pd.concat([original_df, expected_margin], axis= 1)
    
    try:
        with pd.ExcelWriter(spread_sheet_name) as writer:  
            results.to_excel(writer, sheet_name='Rounds', index=False)
            ranks.to_excel(writer, sheet_name='CurrentRanks', index=False)
            analysis_info.to_excel(writer, sheet_name='Analysis_Info', index=False)

        display('TournamentSpreadsheet.xlsx is ready for the results from the next round')
    except PermissionError as e:
        now_str = datetime.now().strftime("%Y-%m-%d_%H-%M-%S")
        new_save = 'TournamentSpreadsheet' + now_str + '.xlsx'
        display('Can\'t access TournamentSpreadsheet.xlsx saving as ' + new_save)
        
        with pd.ExcelWriter(new_save) as writer:  
            results.to_excel(writer, sheet_name='Rounds', index=False)
            ranks.to_excel(writer, sheet_name='CurrentRanks', index=False)
            analysis_info.to_excel(writer, sheet_name='Analysis_Info', index=False)
        
    
    input("Press enter to proceed...")

          team_name_x  team_x_score        team_name_y  team_y_score
0  HMC: The Muffining             4            HMC ABC             8
1           Hot Slice            11             Exiles             4
2               Credo            13              Ethos             3
3              Nomads            12       AUUC Flash Y             5
4         Equilibrium             8   Taranaki Thunder             9
5        AUUC Flash X             1         Gang Green            13
6  Dunedin Mixed Team            14  Hammertron Fusion            10

Is the above results correct and complete (Y/N):Y

'Current Rankings'

             team_name  Strength  rank
0           Gang Green       6.0     0
1                Credo       5.0     1
2               Nomads       3.5     2
3            Hot Slice       3.5     3
4   Dunedin Mixed Team       2.0     4
5              HMC ABC       2.0     5
6     Taranaki Thunder       0.5     6
7          Equilibrium      -0.5     7
8   HMC: The Muffining      -2.0     8
9    Hammertron Fusion      -2.0     9
10              Exiles      -3.5    10
11        AUUC Flash Y      -3.5    11
12               Ethos      -5.0    12
13        AUUC Flash X      -6.0    13

'Next Round'

           team_name_x        team_name_y
0           Gang Green              Credo
2               Nomads          Hot Slice
4   Dunedin Mixed Team   Taranaki Thunder
5              HMC ABC        Equilibrium
8   HMC: The Muffining  Hammertron Fusion
10              Exiles       AUUC Flash Y
12               Ethos       AUUC Flash X

'Spreadsheet Update'

           team_name_x  team_x_score        team_name_y  team_y_score
0   HMC: The Muffining           4.0            HMC ABC           8.0
1            Hot Slice          11.0             Exiles           4.0
2                Credo          13.0              Ethos           3.0
3               Nomads          12.0       AUUC Flash Y           5.0
4          Equilibrium           8.0   Taranaki Thunder           9.0
5         AUUC Flash X           1.0         Gang Green          13.0
6   Dunedin Mixed Team          14.0  Hammertron Fusion          10.0
0           Gang Green           NaN              Credo           NaN
2               Nomads           NaN          Hot Slice           NaN
4   Dunedin Mixed Team           NaN   Taranaki Thunder           NaN
5              HMC ABC           NaN        Equilibrium           NaN
8   HMC: The Muffining           NaN  Hammertron Fusion           NaN
10              Exiles           NaN       AUUC Flash Y           NaN
12               Ethos           NaN       AUUC Flash X           NaN

Are you happy with this update?: (Y/N)Y

"Can't access TournamentSpreadsheet.xlsx saving as TournamentSpreadsheet2023-04-25_16-00-45.xlsx"

Press enter to proceed...